/* Full Page Background */
.resetpassword-container {
  height: 100vh;
  width: 100%;
  background-color: #0d1117;
  background-image: 
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

/* Logo Top */
.resetpasswordlogo-img {
  
  margin-bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  height: 100px;
  width: auto;
  filter: brightness(0) invert(1);
  margin-left: 70px;

}

/* Card */
.resetpassword-card {
  width: 450px;
  background-color: #0b0f14;
  border: 1px solid #ffffff;
  padding: 50px 40px;
  text-align: center;
  
height: 500px;
left: -1px;

opacity: 1;
border-width: 1px;


}

/* Heading */
.resetpassword-card h1 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

/* Paragraph */
.resetpassword-card p {
  color: #b0b3b8;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 1.6;
}

/* Label */
.resetpassword-field label {
  display: block;
  text-align: left;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 8px;
  margin-left:40px ;
 font-family: 'Poppins', sans-serif;
}

/* Input */
.resetpassword-field input {
 
  padding: 10px;
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  margin-bottom: 50px;
  outline: none;
  width: 300px;
height: 38px;
top: 278px;
left: 94px;
border-width: 1px;
border-radius: 8px;

}

.resetpassword-field input:focus {
  border: 1px solid #3b82f6;
}

/* Button */
.resetpassword {
 
  padding: 12px;
  background-color: #2563EB;
  border: none;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 30px;
  width: 300px;
height: 38px;
top: 396px;
left: 95px;

}

.resetpassword:hover {
  background-color: #2563EB;
}

/* Bottom Text */
.resetpassword-text {
  color: #b0b3b8;
  font-size: 13px;
}

.resetpassword-text a {
  color: #2563EB;
  text-decoration: none;
  margin-left: 5px;
}

.resetpassword-text a:hover {
  text-decoration: underline;
}
